  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="header__logo">
            <a href="/">
              <img src="/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="header__nav">
            <nav class="header__menu mobile-menu" style="background: rgb(7, 7, 32)">
              <ul class="text-center">
                <li class="active"><a href="/">Homepage</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/popular">Popular</a></li>
                <li><a href="/animes">Animes</a></li>
                <li><a href="#">Random</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="header__right">
            <a href="#" class="search-switch"><span class="icon_search"></span></a>
          </div>
        </div>
      </div>
      <div id="mobile-menu-wrap"></div>
    </div>
  </header>
  <div style="position : fixed ; left: 0 ; bottom : 0 ; z-index: 9999; ; background : yellow ; color : black " > ⚠️ This site is in Beta. Somethings may not work. </div>
